/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: none #4be1c3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #4be1c3;
  border-radius: 20px;
  border: 2px solid #1d232c;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1d232c;
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  background-color: #0f1620;
  height: 5px;
  margin: -5px 0 0;
}


main {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-bottom: 35vh;
}

canvas {
  display: block;
}

h1 {
  text-align: center;
  color:#ffffff;
  font-size: 46px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color:#ffffff;
  font-size: 16px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 42vw;
  margin-bottom: 36px;
}

h3 {
  color:#ffffff;
  font-size: 20px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  line-height: 42px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  color:#ffffff;
  font-size: 17px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  line-height: 38px;
  width: 42vw;
}

.big {
  font-size: 20px;
  text-align: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  line-height: 48px;
  margin-top: 35vh;
  margin-bottom: 0;
}

.pnewparagraph {
  margin-top: 30px;
  margin-bottom: 35vh;
  width: 1100px;
}

.low {
  margin-bottom: 0px;
}

.images {
  height: 100vh;
  width: 100%;
  position: absolute;
  margin: 0 0;
  background-color: transparent;
}

.bg {
  background-color: #0f1620;
}

.intro {
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 3;
}

/* This is for placing the intro images in the header section*/
.introimg {
  position: relative;
  display: flex;
}

.a {
  margin-right: 4vw;
  margin-left: auto;
  margin-top: 8vh;
}

.b {
  margin-left: 3vw;
  margin-top: 22vh;
}

.c {
  margin-left: 6vw;
  margin-top: 67vh;
}

.d {
  margin-left: 18vw;
  margin-top: 29vh;
}

.e {
  margin-right: 8vw;
  margin-left: auto;
  margin-top: 67vh;
}

.centered {
  position: relative;
  margin: auto;
  z-index: 4;
}

.arrow {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: -160px;
}

.textsection {
  height: auto;
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d232c;
}

.imgcontainer {
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  width: 98vw;
  overflow: hidden;
  align-content: flex-start;
}

.rightimgcontainer {
  display: flex;
  width: 98vw;
  align-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;

}


.germany {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  width: 45vw;
  flex-grow: none;
  position: relative;
}

.layer {
  position: absolute;
  top: 0px;
}

.zwei {
  z-index: 2;
}

.drei {
  z-index: 3;
}

.telegram {
  margin-left: 10vw;
  justify-content: space-between;
  width: 409px;
  display: flex;
  flex-direction: column;
  margin-top: 45vh;
}

.holdassets {
  display: flex;
  flex-direction: column;
}

.msg {
  margin-bottom: 10px;
}

.right {
  margin-top: 35vh;
  margin-left: 7vw;
  margin-right: 10vw;
}

.left {
  margin-left: 10vw;
}

.subtxt {
  font-size: 14px;
  line-height: 26px;
  margin-top: 50px;
  color: #4be1c3;
  width: 409;
}

.footer {
  font-size: 14px;
  line-height: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

.highlight {
  font-style: italic;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  cursor: pointer;
}

.placeholder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 35px;
  height: 64px;
  width: 220px;
  flex: none;

  background-color: #1d232c;
	cursor: default;
	color: white;
  font-size: 18px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
	text-decoration:none;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border: 2px solid white;
}

.start {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 35px;
  height: 64px;
  width: 220px;
  flex: none;

  background-color: #1d232c;
	cursor: pointer;
	color: #4be1c3;
  font-size: 18px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
	text-decoration:none;
  padding: 0;
  border: 2px solid #4be1c3;
}

.start:hover{
  background-color: #4be1c3;
  color:#1d232c;
  border: none;
}

@media all and (max-width:30em){
  .start {
    display: block;
    margin:0.4em auto;
    }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 220px;
  width: 670px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #0f1620;
  border: 2px solid #4be1c3;
  z-index: 2;
}

.disclaimertext {
  color:#4be1c3;
  font-size: 17px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  line-height: 34px;
  width: 90%;
  margin-bottom: 22px;
  text-align: center;
  margin-top: 0;
}

.disclaimer {
  height: 32px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;

  background-color: #0f1620;
	cursor: pointer;
	color: #4be1c3;
  font-size: 16px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  text-decoration:none;
  padding: 0;
  border: 2px solid #4be1c3;
}

.disclaimer:hover{
  background-color: #4be1c3;
  color:#0f1620;
  border: none;
}

.disable {
  width: 100vw;
  height: 100vh;
  background-color: #0f1620a2;
  position: fixed;
  top: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 98%;
  flex-shrink: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about {
  color: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  flex: none;
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  margin-top: 4px;
  text-transform: uppercase;
}

.about:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  cursor: pointer;
}

.info {
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 12px;
  margin-left: 8px;
}

.selector {
	background-color:#0f1620;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  height: 22px;
  width: 42px;
	text-decoration:none;
  padding: 0;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.selector:hover {
  border: 1px solid #4be1c3;
  color: #4be1c3;
  border-radius:20px;
}

.selector:focus {
	background-color:#4be1c3;
  color: #0f1620;
  border: none;
  border-radius:20px;
}

.dead {
	background-color:#0f1620;
	border-radius:25px;
	display:inline-block;
	color:#5a5a5a;
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  height: 22px;
  width: 42px;
	text-decoration:none;
  padding: 0;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.infocus {
	background-color:#4be1c3;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#0f1620;
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 400;
  height: 22px;
  width: 42px;
	text-decoration:none;
  padding: 0;
  border: none;
  margin-left: 1px;
  margin-right: 1px;
}

.year {
 display: inline-block;
}

.legend {
  font-size: 14px;
  font-family:'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  color: white;
  margin-left: 8px;
  margin-top: 4px;
}

@media (max-width: 1270px) {

  .year {
    display: inline-flex;
    width: max-content;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .legend {
    margin-right: 12px;
  }

  .overlay {
    width: 96%;
  }

  .about{
    margin-right: 5px;
  }

  .big {
    width: 800px;
  }

  .low {
    width: 760px;
  }

  .b {
    display: none;
  }

  .c {
    display: none;
  }

  .d{
    margin-left: 4vw;

  }

  .e {
    margin-right: 28vw;
  }

  .right {
    margin-left: 40px;
    margin-right: 10vw;
  }

}

@media (max-width: 1100px) {

}



