html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.start {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  height: 40px;
  width: 200px;
  display: inline-block;

  text-decoration: none;
  font-size: 14px;
  font-family:'Roboto',sans-serif;
  font-weight: 500;
  color: black;
  background-color:white;
  text-align: center;
}

.start:hover{
  color: white;
  background-color: rgb(168, 168, 168);

}

@media all and (max-width:30em){
  .start {
    display: block;
    margin:0.4em auto;
    }
}

.selector {
  margin-top: -30px;
  height: 24px;
  width: 60px;
  display: inline-block;

  text-decoration: none;
  font-size: 12px;
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  color: black;
  background-color:white;
  text-align: center;
}

.selector:hover{
  color: white;
  background-color: rgb(168, 168, 168);
}

.overlay {
  position: fixed;
  top: 20px;
  left: 20px;
}

.info {
  font-size: 12px;
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 5px;
}
